In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
from sklearn.preprocessing import Imputer

from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

C:\ProgramData\Miniconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
X_train = pd.read_csv('dengue_features_train.csv', index_col=None)
X_test = pd.read_csv('dengue_features_test.csv', index_col=None)

In [3]:
X_train['week_start_date'] = pd.to_datetime(X_train['week_start_date'])
X_test['week_start_date'] = pd.to_datetime(X_test['week_start_date'])

In [4]:
X_train['month'] = X_train['week_start_date'].dt.month
X_train['quarter'] = X_train['week_start_date'].dt.quarter
X_train = X_train.drop(['week_start_date'], axis=1)
X_test['month'] = X_test['week_start_date'].dt.month
X_test['quarter'] = X_test['week_start_date'].dt.quarter
X_test = X_test.drop(['week_start_date'], axis=1)

In [5]:
city_train = pd.get_dummies(X_train['city'])
X_train = pd.concat([X_train, city_train], axis=1)
X_train = X_train.drop(['city'], axis=1)

In [6]:
city_test = pd.get_dummies(X_test['city'])
X_test = pd.concat([X_test, city_test], axis=1)
X_test = X_test.drop(['city'], axis=1)

In [7]:
X_train.head()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,month,quarter,iq,sj
0,1990,18,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4,2,0,1
1,1990,19,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,296.4,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5,2,0,1
2,1990,20,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,297.3,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,5,2,0,1
3,1990,21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,297.0,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,5,2,0,1
4,1990,22,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,297.5,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,5,2,0,1

In [8]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 26 columns):
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
ndvi_ne                                  1262 non-null float64
ndvi_nw                                  1404 non-null float64
ndvi_se                                  1434 non-null float64
ndvi_sw                                  1434 non-null float64
precipitation_amt_mm                     1443 non-null float64
reanalysis_air_temp_k                    1446 non-null float64
reanalysis_avg_temp_k                    1446 non-null float64
reanalysis_dew_point_temp_k              1446 non-null float64
reanalysis_max_air_temp_k                1446 non-null float64
reanalysis_min_air_temp_k                1446 non-null float64
reanalysis_precip_amt_kg_per_m2          1446 non-null float64
reanalysis_relative_humidity_percent     1446 non-null float64
reanalysis_sat_precip_amt_mm             1443 non-null float64
reanalysis_specific_humidity_g_per_kg    1446 non-null float64
reanalysis_tdtr_k                        1446 non-null float64
station_avg_temp_c                       1413 non-null float64
station_diur_temp_rng_c                  1413 non-null float64
station_max_temp_c                       1436 non-null float64
station_min_temp_c                       1442 non-null float64
station_precip_mm                        1434 non-null float64
month                                    1456 non-null int64
quarter                                  1456 non-null int64
iq                                       1456 non-null uint8
sj                                       1456 non-null uint8
dtypes: float64(20), int64(4), uint8(2)
memory usage: 275.9 KB

In [9]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 26 columns):
year                                     416 non-null int64
weekofyear                               416 non-null int64
ndvi_ne                                  373 non-null float64
ndvi_nw                                  405 non-null float64
ndvi_se                                  415 non-null float64
ndvi_sw                                  415 non-null float64
precipitation_amt_mm                     414 non-null float64
reanalysis_air_temp_k                    414 non-null float64
reanalysis_avg_temp_k                    414 non-null float64
reanalysis_dew_point_temp_k              414 non-null float64
reanalysis_max_air_temp_k                414 non-null float64
reanalysis_min_air_temp_k                414 non-null float64
reanalysis_precip_amt_kg_per_m2          414 non-null float64
reanalysis_relative_humidity_percent     414 non-null float64
reanalysis_sat_precip_amt_mm             414 non-null float64
reanalysis_specific_humidity_g_per_kg    414 non-null float64
reanalysis_tdtr_k                        414 non-null float64
station_avg_temp_c                       404 non-null float64
station_diur_temp_rng_c                  404 non-null float64
station_max_temp_c                       413 non-null float64
station_min_temp_c                       407 non-null float64
station_precip_mm                        411 non-null float64
month                                    416 non-null int64
quarter                                  416 non-null int64
iq                                       416 non-null uint8
sj                                       416 non-null uint8
dtypes: float64(20), int64(4), uint8(2)
memory usage: 78.9 KB

In [10]:
y_train = pd.read_csv('dengue_labels_train.csv', index_col=None)
y_train = y_train['total_cases']

In [11]:
def larger_model():
	# create model
	model = Sequential()
	model.add(Dense(26, input_dim=26, kernel_initializer='normal', activation='relu'))
	model.add(Dense(13, kernel_initializer='normal', activation='relu'))
	model.add(Dense(5, kernel_initializer='normal', activation='relu'))
	model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
	model.compile(loss='mean_squared_error', optimizer='adam')
	return model

In [12]:
seed = 7
np.random.seed(seed)

In [13]:
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())

In [14]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [15]:
nn_model = KerasRegressor(build_fn=larger_model, nb_epoch=100, batch_size=5, verbose=0)

In [16]:
nn_model.fit(X_train,y_train)

In [17]:
result = nn_model.predict(X_test)

In [18]:
result

array([26.93495  , 38.571285 , 33.776127 , 38.77647  , 38.197887 ,
       48.102993 , 40.872997 , 41.98698  , 50.97095  , 55.818462 ,
       50.0785   , 54.555645 , 41.392536 , 60.482594 , 51.253727 ,
       61.116985 , 45.39352  , 53.70654  , 57.330643 , 38.708652 ,
       49.022915 , 35.105404 , 42.6851   , 55.763348 , 44.681084 ,
       43.556927 , 60.423374 , 60.63898  , 51.134953 , 48.24715  ,
       49.0457   , 47.46519  , 42.600094 , 41.395405 , 40.0827   ,
        4.0333505, 16.957735 , 27.32358  , 22.032463 , 21.55979  ,
       24.49092  , 15.672383 , 21.52809  , 11.321181 , 21.043589 ,
       23.614618 , 23.15824  , 20.71576  , 24.681503 , 26.840845 ,
       29.358084 , 26.131334 , 28.707708 , 34.25617  , 36.038967 ,
       32.94237  , 31.630575 , 37.047626 , 37.966404 , 41.311905 ,
       39.294746 , 49.04935  , 46.44382  , 53.198536 , 51.87352  ,
       50.524117 , 58.112766 , 54.84675  , 48.58498  , 53.25871  ,
       52.267147 , 54.22424  , 52.71535  , 52.573887 , 61.3922   ,
       57.012478 , 54.21935  , 58.9647   , 53.958584 , 59.521664 ,
       50.898705 , 47.46886  , 47.68484  , 46.526253 , 57.617157 ,
       41.48473  , 54.260082 , 11.924935 , 13.266566 , 14.748965 ,
       11.006183 , 19.26076  , 23.071106 ,  7.588723 , 17.1859   ,
       24.887938 , 24.53891  , 16.920958 , 16.674833 , 22.589884 ,
       30.374058 , 23.760012 , 25.364168 , 25.211197 , 45.96388  ,
       32.90669  , 33.772076 , 35.985653 , 33.301373 , 42.279995 ,
       48.597015 , 40.448586 , 36.863987 , 43.23145  , 50.447666 ,
       46.704765 , 45.10579  , 41.972614 , 51.70944  , 56.585293 ,
       52.77429  , 47.69711  , 48.52837  , 49.619244 , 52.379627 ,
       50.661556 , 54.898544 , 54.061337 , 46.27329  , 39.926785 ,
       49.37161  , 52.24461  , 45.715984 , 46.199383 , 44.95151  ,
       44.87685  , 21.349081 , 42.309666 , 33.22743  , 26.851992 ,
       24.123468 , 16.22318  , 17.811846 , 17.104479 , 18.279814 ,
       20.62528  , 18.568758 , 16.41259  , 22.334238 , 18.734877 ,
       21.512022 , 14.784821 , 16.341135 , 19.889452 , 21.350996 ,
       17.24193  , 30.72957  , 28.629816 , 32.130726 , 15.008018 ,
       20.890066 , 35.22001  , 29.577776 , 25.837515 , 33.397755 ,
       44.338673 , 44.139614 , 37.7384   , 37.07237  , 46.49283  ,
       41.28095  , 36.3633   , 41.729572 , 38.714626 , 37.9532   ,
       46.017967 , 51.85007  , 42.67685  , 43.089756 , 41.82752  ,
       51.321533 , 49.601665 , 48.841076 , 45.152325 , 41.859085 ,
       60.170914 , 47.179752 , 42.20184  , 34.833622 , 33.98924  ,
       41.465836 , 22.438581 , 16.578634 , 18.626768 , 20.1411   ,
       10.51648  , 19.415962 , 15.335958 , 18.049574 ,  9.405927 ,
       19.212778 , 14.368016 , 16.432144 , 16.008368 ,  8.174772 ,
       12.156594 , 26.394314 ,  5.6365356, 16.838158 , 32.35237  ,
       18.807814 , 39.49389  , 25.059872 , 31.30599  , 32.704945 ,
       37.09269  , 37.812992 , 43.780212 , 43.31483  , 38.76472  ,
       47.656445 , 49.548126 , 48.343014 , 40.70937  , 44.91934  ,
       52.592037 , 35.13834  , 45.31204  , 42.749416 , 43.528744 ,
       55.074707 , 44.021168 , 49.26334  , 47.771355 , 50.727386 ,
       55.015713 , 48.849007 , 50.135147 , 57.42929  , 46.756252 ,
       38.50115  , 52.88023  , 45.320103 , 18.128336 , 20.55415  ,
       22.711847 , 15.088912 , 11.539737 , 14.818369 ,  9.289471 ,
       13.801101 , 17.522345 , 14.089341 , 11.684911 , 18.14522  ,
       15.081172 , 15.5451765, 21.221483 , 23.528736 , 17.411085 ,
        6.7326636,  4.6923656,  7.0150404,  4.4824553,  5.3469467,
        6.694642 ,  4.035305 ,  4.591834 ,  4.1327987,  8.103088 ,
        4.9103174,  5.2819433,  9.379582 ,  6.7734847,  8.684646 ,
        7.7696314,  8.537184 , 10.210987 , 12.416114 , 12.563847 ,
        9.097767 ,  8.766818 , 10.40223  , 11.500365 ,  9.138566 ,
        5.9147778,  7.5822344,  6.4398804,  7.0407276,  7.5498514,
        5.3291235,  6.8862963,  6.808566 ,  9.342585 ,  7.3796825,
        7.648196 ,  7.9531603,  8.0014105,  7.5031414,  6.5277133,
        9.377343 ,  7.411757 ,  7.771826 ,  9.050841 ,  8.831843 ,
        5.7718964,  6.636548 ,  8.050993 ,  4.4635386,  7.6012487,
        7.6035767,  5.1842003,  5.0229397,  3.9484372,  5.2088466,
        6.517084 ,  6.0766163,  6.3200397,  6.3262734,  4.0156083,
        5.7595463,  5.5568748,  5.2215757,  5.952721 ,  8.516833 ,
        7.5627356,  8.723409 ,  7.8464737, 10.537086 ,  9.951609 ,
        9.647461 ,  9.612243 ,  9.239459 ,  9.888894 ,  9.834482 ,
        9.175471 ,  7.671807 , 10.582999 ,  9.544173 ,  7.397381 ,
        7.757577 ,  9.373048 ,  7.691591 ,  6.528972 ,  7.13802  ,
        9.51591  ,  6.9438868,  8.337784 ,  9.018859 ,  7.160865 ,
        8.178451 ,  9.510617 ,  8.382045 ,  8.8410845, 10.563902 ,
        8.753224 ,  7.629852 ,  7.0872645,  8.670096 ,  5.69228  ,
        5.3618727,  4.6373787,  5.9823723,  7.5038853,  7.71729  ,
        5.2738276,  5.518195 ,  5.8078175,  6.0080366,  5.514429 ,
        5.1431246,  4.1604643,  9.192628 ,  4.511937 ,  4.440533 ,
        8.158613 ,  6.4156475,  7.979287 ,  6.3654795,  9.077243 ,
        7.709044 ,  9.714776 , 10.092269 ,  9.228094 ,  9.802884 ,
        8.668662 , 11.318433 ,  9.659761 , 10.842263 , 10.022076 ,
        7.3774137,  5.854976 ,  6.044688 ,  8.223606 ,  8.056957 ,
       10.02929  , 10.0209055,  8.532132 ,  9.075894 , 10.054252 ,
        7.549549 ,  9.295192 , 10.628008 , 10.544442 ,  8.562654 ,
        9.239253 ,  8.094913 ,  6.620522 ,  9.826724 ,  8.226796 ,
        8.179165 ,  7.135966 ,  8.666477 ,  7.4216933,  6.0481005,
        6.615449 ], dtype=float32)

In [19]:
X_test = pd.read_csv('dengue_features_test.csv', index_col=None)
result_columns = X_test[['city','year','weekofyear']]
result_cases = pd.DataFrame(result)
result_cases.columns = ['total_cases']
result_df = pd.concat([result_columns, result_cases], axis=1)
result_df['total_cases'] = result_df['total_cases'].round().astype(int)

In [20]:
result_df['total_cases'] = np.where(result_df['total_cases']<0, 0, result_df['total_cases'])

In [21]:
result_df.head()

  city  year  weekofyear  total_cases
0   sj  2008          18           27
1   sj  2008          19           39
2   sj  2008          20           34
3   sj  2008          21           39
4   sj  2008          22           38

In [22]:
result_df.to_csv('keras_deep.csv', index=False)