In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy

C:\ProgramData\Miniconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
X = pd.read_csv('dengue_features_train.csv', index_col=None)

In [3]:
y = pd.read_csv('dengue_labels_train.csv', index_col=None)
y = y['total_cases'].ravel()

In [4]:
X['week_start_date'] = pd.to_datetime(X['week_start_date'])

In [5]:
X['week_start_date'] = X['week_start_date'] - pd.to_datetime('1980-01-01')

In [6]:
X['week_start_date'] = pd.to_numeric(X['week_start_date'])/100000000000

In [7]:
df_city = pd.get_dummies(X['city'])

In [8]:
X = pd.concat([X, df_city], axis=1)

In [9]:
X = X.drop(['city'], axis=1)

In [10]:
X_fill = X.fillna(0)

In [11]:
X_fill.head()

,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,iq,sj
0,1990,18,3259008.0,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,0,1
1,1990,19,3265056.0,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,0,1
2,1990,20,3271104.0,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,0,1
3,1990,21,3277152.0,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,...,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,0,1
4,1990,22,3283200.0,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,...,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,0,1

In [13]:
rf = RandomForestClassifier(n_jobs=-1, class_weight='balanced', max_depth=5)

In [14]:
feat_selector = BorutaPy(rf, n_estimators='auto', verbose=2, random_state=1)

In [15]:
feat_selector.fit(X_fill.values, y)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	10 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	11 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	12 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	13 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	14 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	15 / 100
Confirmed: 	0
Tentative: 	2
Rejected: 	23
Iteration: 	16 / 100
Confirmed: 	0
Tentative: 	1
Rejected: 	24
Iteration: 	17 / 100
Confirmed: 	0
Tentative: 	1
Rejected: 	24
Iteration: 	18 / 100
Confirmed: 	0
Tentative: 	1
Rejected: 	24
Iteration: 	19 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	25


BorutaPy finished running.

Iteration: 	20 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	25

BorutaPy(alpha=0.05,
     estimator=RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=5, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=28, n_jobs=-1, oob_score=False,
            random_state=<mtrand.RandomState object at 0x0000027EA8040E10>,
            verbose=0, warm_start=False),
     max_iter=100, n_estimators='auto', perc=100,
     random_state=<mtrand.RandomState object at 0x0000027EA8040E10>,
     two_step=True, verbose=2)

In [16]:
feat_selector.support_

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [17]:
feat_selector.ranking_

array([24, 12, 16, 11, 22,  3,  2, 17,  4,  6,  5, 19, 13, 18, 19, 14,  9,
        7,  9, 23, 21,  8, 14, 25, 25])

In [32]:
ranking = pd.DataFrame(feat_selector.ranking_)

In [33]:
ranking.columns = ['ranking']

In [36]:
columns_names = pd.DataFrame(X_fill.columns)
columns_names.columns = ['column']

In [39]:
pd.concat([columns_names, ranking], axis=1)

                                   column  ranking
0                                    year       24
1                              weekofyear       12
2                         week_start_date       16
3                                 ndvi_ne       11
4                                 ndvi_nw       22
5                                 ndvi_se        3
6                                 ndvi_sw        2
7                    precipitation_amt_mm       17
8                   reanalysis_air_temp_k        4
9                   reanalysis_avg_temp_k        6
10            reanalysis_dew_point_temp_k        5
11              reanalysis_max_air_temp_k       19
12              reanalysis_min_air_temp_k       13
13        reanalysis_precip_amt_kg_per_m2       18
14   reanalysis_relative_humidity_percent       19
15           reanalysis_sat_precip_amt_mm       14
16  reanalysis_specific_humidity_g_per_kg        9
17                      reanalysis_tdtr_k        7
18                     station_avg_temp_c        9
19                station_diur_temp_rng_c       23
20                     station_max_temp_c       21
21                     station_min_temp_c        8
22                      station_precip_mm       14
23                                     iq       25
24                                     sj       25

In [18]:
X_filtered = feat_selector.transform(X.values)

In [19]:
X_filtered

array([], shape=(1456, 0), dtype=float64)