In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
from sklearn.preprocessing import Imputer

In [2]:
df = pd.read_csv('data/Export_Output_2.txt', sep=';', index_col='zone_id')

In [3]:
df_train = df[df['is_test']==0]

In [4]:
df_test = df[df['is_test']==1]

In [5]:
df_train.head()

,is_test,calls_wd0,calls_wd1,calls_wd2,calls_wd3,calls_wd4,calls_wd5,calls_wd6,DISTANCE
zone_id,,,,,,,,,
0,0,0.003006,0.000000e+00,6.885802e-04,0.003006,0.000000e+00,0.001374,0.007052,0.717191
1,0,0.000765,0.000000e+00,1.176913e-03,0.000765,0.000000e+00,0.001374,0.002818,0.710308
2,0,0.001322,0.000000e+00,1.020885e-03,0.001322,0.000000e+00,0.001374,0.003871,0.703446
3,0,0.000815,0.000000e+00,7.802124e-04,0.000815,0.000000e+00,0.001374,0.002912,0.696607
4,0,0.000783,1.821651e-07,7.286604e-07,0.000782,8.602241e-07,0.001374,0.002851,0.689790

In [6]:
X_train = df_train[['DISTANCE']]
y_train = df_train[['calls_wd0', 'calls_wd1', 'calls_wd2', 'calls_wd3', 'calls_wd4', 'calls_wd5', 'calls_wd6']]
X_test = df_test[['DISTANCE']]

In [7]:
X_test.head()

         DISTANCE
zone_id
79       0.350403
80       0.350456
81       0.350688
82       0.351097
83       0.351682

In [8]:
regr = RandomForestRegressor(max_depth=30, random_state=0)

In [9]:
regr_multirf = MultiOutputRegressor(regr)

In [10]:
%%time
regr_multirf.fit(X_train, y_train)

Wall time: 2.01 s

MultiOutputRegressor(estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=30,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False),
           n_jobs=1)

In [11]:
y_multirf = regr_multirf.predict(X_test)

In [13]:
y_multirf

array([[ 0.2213927 ,  0.35922053,  0.33003184, ...,  0.35797477,
         0.30556642,  0.35633584],
       [ 0.1961501 ,  0.27003321,  0.23549013, ...,  0.24017594,
         0.22764585,  0.29009523],
       [ 0.05421289,  0.04223913,  0.09897865, ...,  0.03868444,
         0.04701732,  0.04753391],
       ...,
       [ 0.00130664,  0.00709493,  0.01001165, ...,  0.00822361,
         0.01181718,  0.00925275],
       [ 0.01203164,  0.01380717,  0.02635351, ...,  0.02125363,
         0.03498651,  0.02408681],
       [ 0.02154287,  0.02175702,  0.02042172, ...,  0.03059457,
         0.02340851,  0.01929048]])

In [21]:
df_trees = pd.DataFrame(y_multirf, index=X_test.index)

In [23]:
df_trees.columns = ['calls_wd0','calls_wd1','calls_wd2','calls_wd3','calls_wd4','calls_wd5','calls_wd6']

In [24]:
df_trees.head()

,calls_wd0,calls_wd1,calls_wd2,calls_wd3,calls_wd4,calls_wd5,calls_wd6
zone_id,,,,,,,
79,0.221393,0.359221,0.330032,0.669531,0.357975,0.305566,0.356336
80,0.196150,0.270033,0.235490,0.446729,0.240176,0.227646,0.290095
81,0.054213,0.042239,0.098979,0.058533,0.038684,0.047017,0.047534
82,0.102376,0.087136,0.082474,0.090062,0.081683,0.127753,0.085663
83,0.049641,0.041479,0.033790,0.081568,0.023211,0.157037,0.086994

In [26]:
df_trees.to_csv('data/mts_sub_rnd_forest.csv')