In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model

In [14]:
df = pd.read_csv('data/Export_Output.csv', sep=';', index_col='zone_id')

In [15]:
df.head()

         is_test  calls_workday  calls_weekend  DISTANCE
zone_id
0              0       0.001325       0.004213  0.717191
1              0       0.000535       0.002096  0.710308
2              0       0.000724       0.002622  0.703446
3              0       0.000476       0.002143  0.696607
4              0       0.000310       0.002113  0.689790

In [16]:
df_train = df[df['is_test']==0]

In [19]:
X_train_work = df_train[['DISTANCE']]
y_train_work = df_train[['calls_workday']]
X_train_week = df_train[['DISTANCE']]
y_train_week = df_train[['calls_weekend']]

In [17]:
df_test = df[df['is_test']==1]

In [18]:
df_test.head()

         is_test  calls_workday  calls_weekend  DISTANCE
zone_id
79             1            0.0            0.0  0.350403
80             1            0.0            0.0  0.350456
81             1            0.0            0.0  0.350688
82             1            0.0            0.0  0.351097
83             1            0.0            0.0  0.351682

In [21]:
X_test = df_test[['DISTANCE']]

In [23]:
regr_work = linear_model.LinearRegression()
regr_week = linear_model.LinearRegression()

In [24]:
%%time
regr_work.fit(X_train_work, y_train_work)

Wall time: 1.4 s

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
regr_week.fit(X_train_week, y_train_week)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
%%time
X_test['calls_wd0'] = regr_work.predict(X_test)

Wall time: 60.5 ms

E:\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
X_test['calls_wd1'] = X_test['calls_wd0']
X_test['calls_wd2'] = X_test['calls_wd0']
X_test['calls_wd3'] = X_test['calls_wd0']
X_test['calls_wd4'] = X_test['calls_wd0']

E:\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
X_test_week = df_test[['DISTANCE']]

In [32]:
X_test['calls_wd5'] = regr_week.predict(X_test_week)

In [33]:
X_test.head()

,DISTANCE,calls_wd0,calls_wd1,calls_wd2,calls_wd3,calls_wd4,calls_wd5
zone_id,,,,,,,
79,0.350403,0.645925,0.645925,0.645925,0.645925,0.645925,0.607412
80,0.350456,0.645776,0.645776,0.645776,0.645776,0.645776,0.607277
81,0.350688,0.645132,0.645132,0.645132,0.645132,0.645132,0.606688
82,0.351097,0.643992,0.643992,0.643992,0.643992,0.643992,0.605648
83,0.351682,0.642359,0.642359,0.642359,0.642359,0.642359,0.604158

In [34]:
X_test['calls_wd6'] = X_test['calls_wd5']

In [36]:
X_end = X_test.drop(columns=['DISTANCE'])

In [37]:
X_end.head()

,calls_wd0,calls_wd1,calls_wd2,calls_wd3,calls_wd4,calls_wd5,calls_wd6
zone_id,,,,,,,
79,0.645925,0.645925,0.645925,0.645925,0.645925,0.607412,0.607412
80,0.645776,0.645776,0.645776,0.645776,0.645776,0.607277,0.607277
81,0.645132,0.645132,0.645132,0.645132,0.645132,0.606688,0.606688
82,0.643992,0.643992,0.643992,0.643992,0.643992,0.605648,0.605648
83,0.642359,0.642359,0.642359,0.642359,0.642359,0.604158,0.604158

In [38]:
X_end.to_csv('data/mts_sub.csv')